@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drizzle {
  0% {
    transform: translateY(-10%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
